{% extends "network/layout.html" %}

{% block body %}
<h1>Following {{ user.pk }} </h1>
<div id="posts-section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{ user.username }}</h5>
        <a href="#" class="card-link"> Edit </a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">TODO</a>
      </div>
    </div>
</div>


<!--     <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{ user.username }}</h5>
        <a href="#" class="card-link"> Edit </a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">TODO</a>
      </div>
    </div> -->



<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
{% endblock %}

{% block footer %}
            <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" id="page-number">
    <li class="page-item" >
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
    </li>
    <li class="page-item"> 
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

{% endblock %}




