{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="content">
<h1 id="title_page"> All Posts</h1>

{% if user.is_authenticated %}
<div id="post-form" class="card">
    <form id="new-post" class="card-body">
          <div class="form-group">
            <label for="PostBox" id="card-title"><h3>New Post</h3></label>
            <textarea class="form-control" id="PostBox"></textarea>
            <br/>
        <div  style="width: 12.5em;">
            <input class="btn btn-primary btn-lg" id="post-btn" style="justify-content: flex-start;" type="submit" value="Post">
        </div>
        </div>
     
    </form>
</div>
{% endif %}
<br/>

<div id="posts-section">
</div>

<br/>


{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"> </script>
{% endblock %}

