{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<!-- <h1 > {{ profile_users.username }}  Profile {{ profile_users.pk }}</h1> -->
<h1 style="display:inline;"> {{ profile_users.username }} </h1>
{% if user.is_authenticated and user.pk != profile_users.pk %}
<button type="button" class="btn-sm btn-primary" data-toggle="button" aria-pressed="false">
  follow
</button>
{% endif %}
<p>
{{ followers }} followers
</br>
 follows {{ followed }}
</p>
<br/>


<h2 id="title_page"> All Posts by {{ profile_users.username }}</h2>

<div id="users-section">
	{% for post in posts%}
	 <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{ post.author }}</h5>

        {% if user.pk == profile_users.pk %}
        <a href="#" class="card-link btn-sm btn-primary" id="editBtn" role='button'> Edit </a>
        {% endif %}
        <p class="card-text"> {{ post.content }}</p> 
    	<span style=color:grey;> {{ post.timestamps }} </span> <br/>
    	<br/>
        <span href="#" class="card-link"> <ion-icon name="heart"></ion-icon> </span> <span> {{ post.self }} <br/> Comment</span>

      </div>
    </div> 
	{% endfor %}
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"> </script>
{% endblock %}
