textarea {
    min-height: 6.25em;
    margin: auto;

}


.card{
    margin-bottom: 1.5em;
}



span ion-icon {
    font-size: 1.5rem;
    color: red;
}

span ion-icon:hover, .card-title:hover {
  cursor: pointer;
}
